@import url(/css/keyframes.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --ff--primary: 'Roboto', sans-serif;
    --bc-primary: #E1E1E6;
    --fc-primary: #29292E;
    --imgc-primary: #323238;
    
    font-size: 62.5%;
}

.hide {
    display: none;
}

.dark {
    cursor: pointer;
}

body {
    display: grid;
    min-height: 50vh;
    color: var(--fc-primary);
    margin-top: 16.0rem;
}

main {
    justify-self: center;
    align-self: end;
    display: flex;
}

.timer {
    font-family: var(--ff--primary);
    font-size: 14.6rem;    
    margin: 6.0rem 19.2rem 0 0;
    display: flex;
    animation: timerAnimation 200ms 550ms backwards;
}

#controls button {
    border: none;
    background-color: transparent;
    margin-left: 5.3rem;
    cursor: pointer;
    transition: all 0.3s;
    animation: buttonsAnimation 400ms 850ms backwards;
}

#controls button:first-child {
    margin-left: 0rem;
}

.btn-sounds {
    max-width: 350px;
}

.btn-sounds button{
    width: 14.2rem;
    height: 16.2rem;
    margin: 10px 10px 10px 10px;    
    border-radius: 2.5em;
    border: none;
    background-color: #E1E1E6;
    cursor: pointer;
    transition: all 0.2s;
    animation: SoundAnimation 200ms 550ms backwards;
}

.btn-sounds button:hover,
#controls button:hover {
    transform: scale(1.1);
}

.btn-sounds .tree {
    background-color: #029d62;
}

.btn-sounds .cloud {
    background-color: #02799D;
}

.btn-sounds .market {
    background-color: #c0ce43;
}

.btn-sounds .fire {
    background-color: #9d0202;
}

.btn-sounds .path path {
    fill: white;
}

.rangeControl {
    appearance: none;
    background: #3c3c3f;
    outline: none;
    width: 80%;
    height: 5px;
    border-radius: 9px;
    margin-top: 30px;
    
}

.rangeControl::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 17px;
    height: 17px;
    border-radius: 50%; 
    background-color: #323238;
    cursor: pointer;
}

.rangeControl-tree {
    appearance: none;
    background: #ffffff;
    outline: none;
    width: 80%;
    height: 5px;
    border-radius: 9px;
    margin-top: 30px;
}

.rangeControl-cloud {
    appearance: none;
    background: #ffffff;
    outline: none;
    width: 80%;
    height: 5px;
    border-radius: 9px;
    margin-top: 30px;
}

.rangeControl-fire {
    appearance: none;
    background: #ffffff;
    outline: none;
    width: 80%;
    height: 5px;
    border-radius: 9px;
    margin-top: 30px;
}

.rangeControl-market {
    appearance: none;
    background: #ffffff;
    outline: none;
    width: 80%;
    height: 5px;
    border-radius: 9px;
    margin-top: 30px;
}

.rangeControl-tree::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 17px;
    height: 17px;
    border-radius: 50%; 
    background: #ffffff;
    cursor: pointer;
}

.rangeControl-cloud::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 17px;
    height: 17px;
    border-radius: 50%; 
    background: #ffffff;
    cursor: pointer;
}

.rangeControl-fire::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 17px;
    height: 17px;
    border-radius: 50%; 
    background: #ffffff;
    cursor: pointer;
}

.rangeControl-market::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 17px;
    height: 17px;
    border-radius: 50%; 
    background: #ffffff;
    cursor: pointer;
}

/* dark mode */
.containerSv {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 150px;
    animation: buttonsAnimation 400ms 850ms backwards;
}

.background-dark {
    background-color: #121214;
    color: white;
}

.path  {
    fill: white;
}

.btn-sounds .darkButton {
    background-color: #29292E;
}

.fillColor path {
    fill: white;
}

.backgroundRangeControl::-webkit-slider-thumb {
    background: white;
}

.backgroundRangeControlWhite {
    background: white
}






@media (max-width: 930px) {    
    body {
        min-height: 70vh;
    }

    main {
        display: grid;
        margin-left: 200px;
    }

    .btn-sounds {
        margin-top: 6.0rem;
        max-width: 450px;
    }

    .btn-sounds button {
        margin-left: 25px;
    }
}